﻿@{
    ViewData["Title"] = "Index";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model List<PersonALL>
<h1>Person List</h1>
<div>
    <a asp-action="Add" class="btn btn-primary" style="color:white">Add</a>
    <table class="table table-hover">
        <thread>
            <tr>
                <th>Name</th>
                <th>Position Name</th>
                <th>Department Name</th>
                <th>Salary</th>
                <th>Operations</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PositionName</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.Salary</td>
                    <td>
                        <a style="color:white" class="btn btn-success" asp-action="UpdatePerson" asp-route-id="@item.Id">Update</a>
                        <a style="color:white" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>