﻿
@{
    ViewData["Title"] = "UpdatePerson";
}

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model Person

<h1>Update Person</h1>
<form method="post" asp-action="UpdatePerson">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <input asp-for="Id" hidden/>
            <label>Person Name</label>
            <input asp-for="Name" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.Name)
        </div>
        <div class="col-md-4 mb-3">
            <label>Person Surname</label>
            <input asp-for="Surname" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.Surname)
        </div>
        <div class="col-md-4 mb-3">
            <label>Age</label>
            <input asp-for="Age" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.Age)
        </div>
        <div class="col-md-4 mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.Email)
        </div>
        <div class="col-md-4 mb-3">
            <label>Password</label>
            <input asp-for="Password" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.Password)
        </div>
        <div class="col-md-4 mb-3">
            <label>Address</label>
            <input asp-for="Address" class="form-control"/>
        </div>
        <div class="col-md-4 mb-3">
            <label>Position ID</label>
            <br/>
            <select asp-for="PositionID">
                <option value="" selected disabled> -- Select Position --</option>
                @foreach (var item in ViewBag.PositionList)
                {
                    <option value="@item.PositionID">@item.PositionName</option>
                }
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label>Salary ID</label>
            <br/>
            <select asp-for="SalaryID">
                <option value="" selected disabled> -- Select Salary --</option>
                @foreach (var item in ViewBag.SalaryList)
                {
                    <option value="@item.SalaryID">@item.Amount</option>
                }
            </select>
        </div>
        <div asp-validation-summary="ModelOnly">

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
