﻿
@{
    ViewData["Title"] = "UploadFile";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers

<h1>Upload File</h1>

<form method="post" asp-action="UploadFile" enctype="multipart/form-data">
    <div>
        <input type="file" name="File"/>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>