﻿
@{
    ViewData["Title"] = "Add";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model Salary

<h1>Add Salary</h1>
<form method="post" asp-action="Add">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Amount</label>
            <input asp-for="Amount" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.Amount)
        </div>
        <div asp-validation-summary="ModelOnly">
    
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
