﻿@{
    ViewData["Title"] = "Index";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model List<Salary>
<h1>Salary List</h1>
<div>
    <a asp-action="Add" class="btn btn-primary" style="color:white">Add</a>
    <table class="table table-hover">
        <thread>
            <tr>
                <th>Amount</th>
                <th>Operations</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Amount</td>
                    <td>
                        @*<a style="color:white" class="btn btn-success" asp-action="Update" asp-route-id="@item.Amount">Update</a>*@
                        <a style="color:white" class="btn btn-danger" asp-action="DeleteSalary" asp-route-id="@item.SalaryID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>