﻿@{
    ViewData["Title"] = "News";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model Root

<h1>News</h1>
<div class="form-control">
    @foreach (var item in Model.articles)
    {
        <section class="section mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img width="400" height="400" class="img-fluid" src="@item.urlToImage"/>
                        </div>
                    </div>
                    <div class="col-md-6 m-lg-auto d-flex align-items-center mt-md-0">
                        <div>
                            <h2>@item.title</h2>
                            <p class="margin-top-s">@item.content</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><i class="bi-bi-clock"></i>@item.publishedAt.ToString("MM.dd.yyyy")</p>
                                </div>
                                <div class="col-md-6">
                                    <p>@item.author</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</div>
