﻿
@{
    ViewData["Title"] = "Add";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers
@model Department

<h1>Add</h1>
<form method="post" asp-action="Add">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Department Name</label>
            <input asp-for="DepartmentName" class="form-control"/>
            @Html.ValidationMessageFor(x=>x.DepartmentName)
        </div>
        <div asp-validation-summary="ModelOnly">

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
